<div class="container risk">
  <img src="itensPng/img_bckg_1.png" alt="blob1"> 
</div> 

<section class="container camp_ensino_Fundamental" id="1" z-index="1"">

    <h2 id="fund" class="title_fundamental">| Ensino Fundamental - 1º ao 9º ano |</h2>
    <div class="row gx-5">
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="itensPng/capas/1EF.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">1º Ano Ensino Fundamental</h5>
        <p class="card-text">Horário: 07:00AM às 12:00AM</p>
        <a href="#" id="color" class="btn">Acessar</a>
      </div>
    </div>
    
    </div>
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="itensPng/capas/2EF.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">2º Ano Ensino Fundamental</h5>
        <p class="card-text">Horário: 07:00AM às 12:00AM</p>
        <a href="#" id="color" class="btn">Acessar</a>
      </div>
    </div>
    
    </div>
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="itensPng/capas/3EF.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">3º Ano Ensino Fundamental</h5>
        <p class="card-text">Horário: 07:00AM às 12:00AM</p>
        <a href="#" id="color" class="btn">Acessar</a>
      </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="itensPng/capas/4EF.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">4º Ano Ensino Fundamental</h5>
        <p class="card-text">Horário: 07:00AM às 12:00AM</p>
        <a href="#" id="color" class="btn">Acessar</a>
      </div>
    </div>
    </div>
    </div>
    <div class="row mt-5 gx-5">
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="itensPng/capas/5EF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">5º Ano Ensino Fundamental</h5>
            <p class="card-text">Horário: 07:00AM às 12:00AM</p>
            <a href="#" id="color" class="btn">Acessar</a>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="itensPng/capas/6EF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">6º Ano Ensino Fundamental</h5>
            <p class="card-text">Horário: 07:00AM às 12:00AM</p>
            <a href="#" id="color" class="btn">Acessar</a>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="itensPng/capas/7EF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">7º Ano Ensino Fundamental</h5>
            <p class="card-text">Horário: 07:00AM às 12:00AM</p>
            <a href="#" id="color" class="btn">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="itensPng/capas/8EF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">8º Ano Ensino Fundamental</h5>
            <p class="card-text">Horário: 07:00AM às 12:00AM</p>
            <a href="#" id="color" class="btn">Acessar</a>
          </div>
        </div>
    </div>
    </div>
    <div class="row gx-4">
      <div class="col-md-3 mt-5">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="itensPng/capas/9EF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">9º Ano Ensino Fundamental</h5>
            <p class="card-text">Horário: 07:00AM às 12:00AM</p>
            <a href="#" id="color" class="btn">Acessar</a>
          </div>
        </div>
        
      </div>
    </section>
    
    <section class="container Ensino_medio" id="1">
    <h2 id="med" class="title_medio">| Ensino Médio - 1º ao 3º ano |</h2>
    <div class="row gx-5">
    <div class="col-md-3 ">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="itensPng/capas/1EM.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">1º Ano Ensino Médio</h5>
          <p class="card-text">Horário: 07:00AM às 12:00AM</p>
          <a href="#" id="color" class="btn">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="itensPng/capas/2EM.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"style="text-align: center;">2º Ano Ensino Médio</h5>
          <p class="card-text">Horário: 07:00AM às 12:00AM</p>
          <a href="#" id="color" class="btn">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="itensPng/capas/3EM.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"style="text-align: center;">3º Ano Ensino Médio</h5>
          <p class="card-text">Horário: 07:00AM às 12:00AM</p>
          <a href="#" id="color" class="btn">Acessar</a>
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="itensPng/capas/3EM.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"style="text-align: center;">ITA</h5>
          <p class="card-text">Horário: 07:00AM às 12:00AM</p>
          <a href="#" id="color" class="btn">Acessar</a>
        </div>
      </div>
    </section>

   
